.container {
    align-items: center;
    padding: 67px 20px;
    margin-top: 60px;
    background: #2b2b2b;
    color: #fff;
}

.contentContainer {
    max-width: 800px;
    margin: 0 auto;
}

.link {
    margin-bottom: 18px;
}

.trademark {
    margin-top: 44px;
    color: #c0c0c0;
}
