.container {
    align-items: center;
    padding: 67px 20px;
    margin-top: 60px;
    background: #2b2b2b;
}

.contentContainer {
    max-width: 800px;
    margin: 0 auto;
}

.link {
    display: block;
    margin-bottom: 18px;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.title {
    color: #fff;
    margin-bottom: 18px;
    font-size: 18px;
    font-weight: bold;
}

.trademark {
    margin-top: 44px;
    color: #c0c0c0;
}
