.topLine {
    height: 10px;
    width: 100%;
    background: #1d368d;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.logo {
    width: 200px;
    cursor: pointer;
}
