
.container {
    align-items: center;
    padding: 67px 20px;
    margin-top: 60px;
    background: #2B2B2B;
    color: #fff;
}

.link {
    margin-bottom: 18px;
}

.trademark {
    margin-top: 44px;
    color: #C0C0C0;
}