.caroussel {
  display: flex;
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-snap-type: x mandatory;
}
.caroussel::-webkit-scrollbar {
  display: none;
}

.option {
  padding: 8px 10px;
  margin: 10px 0;
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 80%;
  flex: 0 0 auto;
  max-width: 200px;
  border: 1px solid #bbbbbb;
}

.option:first-child {
  margin-left: 10px;
}

.option img {
  max-height: 100px;
  margin-bottom: 20px;
}

.button {
  margin-top: 20px;
  color: blue;
  font-weight: bold;
  font-size: 11px;
}
