.paymentOptions {
    display: flex;
    flex-direction: column;
}

.paymentOptions > * {
    margin-bottom: 14px;
}

.cardInput {
    margin-top: 10px;
    border: 1px solid #c4c3c3;
    border-radius: 3px;
    padding: 20px;
    font-size: 16px;
    line-height: 16px;
    color: #3b3b3b;
    padding: 10px 8px;
}

.spacingCard {
    margin: 10px 0 30px;
}

.errorMessage {
    margin-top: 20px;
}

.stayAnonymous {
    cursor: pointer;
}
