html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

input[type=text] {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;

}

.pageWidthAlign {
  margin: 0 20px;
}
