
.container {
  padding: 40px;
}

.intro, .once {
  font-size: 19px;
  display: block;
  line-height: 31px;
  overflow: hidden;
  position: relative;
  transition:max-height 0.5s ease-out;
  margin: 0;
  font-family: cursive;
}

.intro {
  max-height: 0px;

}

.intro:after {
  content  : "";
  position : absolute;
  z-index  : 1;
  bottom   : 0;
  left     : 0;
  pointer-events   : none;
  background-image : linear-gradient(to bottom, 
                    rgba(255,255,255, 0), 
                    rgba(255,255,255, 1) 90%);
  width    : 100%;
  height   : 40px;
}

.intro.showAll {
  max-height: 1000px;
  padding: 10px 0;
}

.intro.showAll:after {
  background: none;
}

.once {
  margin-bottom: 20px;
}

.ler {
  text-align: right;
  background: #fff;
  margin-bottom: 40px;
  font-size: 12px;
}

.message {
  position: relative;
}

.user {
  position: absolute;
  top: -20px;
  left: 6px;
  font-size: 11px;
  margin-top: -10px;
  white-space: nowrap;
}

.insertinput {
  display: inline;
  border: 0;
  border-bottom: 1px solid;
  height: 40px;
  font-size: 20px;
  width: 100%;
  outline: 0;
}

.doarbtn {
  width: 100%;
  padding: 10px;
  margin-top: 40px;
}

.option {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.info {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

.title {
  font-size: 14px;
}

.userStory {
  margin-top: 20px;
  font-size: 20px;
}

.userStoryPre {
  font-size: 11px;
  text-align: center;
  margin-bottom: 8px;
}

.userStoryAfter {
  font-size: 11px;
}

.continuebtn {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.inputform {
  padding: 10px 20px;
  display: block;
  width: 100%;
}

.mainTitle {
  margin-top: 100px;
}

.knowmore {
  text-align: center;
  margin-top: 20px;
}

.section {
  margin-top: 40px;
}

.mainStatus {
  margin-top: 20px;
  font-weight: bold;
  margin-bottom: 20px
}